<div class="ui-g-12">

  <div class="ui-g-12 ui-md-8">

    <span class="texto">
      a ver pinche git de mierdaa por que vergas no reflejas mis cambios hijo de tu puta madre
    </span>
    
  </div>
  <div class="ui-g-12 ui-md-4">
    <span class="texto">
       a ver pinche git de mierda refleja mis putos cambios hijo de la verga
    </span>

  </div>

  <div class="ui-g-12">

    Hola, Yo si pude
  </div>
  <div class="ui-g-3">
    Hello my friends
  </div>
  </div>
  <div class="ui-g-3">
    dari was jir
  </div>
  <div class="ui-g-3">
    alo ya pude
  </div>

  <div class ="">
    Jhona ya apudo (/U.u)/

    mi pitote
  </div>

  

</div>
